{
	"base_path": "base_path",
	"backup_path": "relative to base_path",
	"backup_extension": ".tar.gz",
    "folders": [
        {
        	"name": "folder1",
            "paths": [
                "relative to base_path_1",
                "relative to base_path_2",	
            ]
        },
        {
        	"name": "folder2",
            "paths": [
                "relative to base_pat_1h,
                "relative to base_pat_2h,"
            ]
        },
        {
        	"name": "folder3",
            "paths": [
                "relative to base_pat_1h,
                "relative to base_pat_2h,"
            ]
        }
    ]
}